<?xml version="1.0"?>
<robot name="my_control" xmlns:xacro="http://www.ros.org/wiki/xacro">
<gazebo>
  <plugin name="differential_drive_controller" filename="libgazebo_ros_diff_drive.so">

   
    <updateRate>100</updateRate>
    <left_joint>left_wheel_joint1</left_joint>
    <right_joint>right_wheel_joint1</right_joint>
    <wheel_separation>0.180</wheel_separation>
    <wheel_diameter>0.05</wheel_diameter>
    <wheelAcceleration>10</wheelAcceleration>
    <wheelTorque>100</wheelTorque>
    <commandTopic>cmd_vel</commandTopic>
    <odometryTopic>odom</odometryTopic>
    <odometryFrame>odom</odometryFrame>
    <robotBaseFrame>base_footprint</robotBaseFrame>
    <odometrySource>1</odometrySource>
    <publishWheelTF>false</publishWheelTF>
    <publishTF>true</publishTF>
    <publishOdom>true</publishOdom>
    <publishWheelJointState>true</publishWheelJointState>
    <legacyMode>false</legacyMode>
  </plugin>
</gazebo>
</robot>